# -------------------------
# IntelliJ / Android Studio
# -------------------------
.idea/
*.iml
/.idea/caches/
/.idea/libraries/
/.idea/modules.xml
/.idea/workspace.xml
/.idea/navEditor.xml
/.idea/assetWizardSettings.xml
/.idea/inspectionProfiles/

# -------------------------
# Gradle / Kotlin / Build
# -------------------------
.gradle/
.kotlinc/
.kotlin/
local.properties
/local.properties

/build/
app/build/
app/release/

# -------------------------
# Native build
# -------------------------
.externalNativeBuild/
.cxx/

# -------------------------
# Misc / OS
# -------------------------
.DS_Store
Thumbs.db
captures/

keys/
*.jks
*.keystore


